
Followers: {{profile_data.follows_count}} Following: {{profile_data.following_count}}
<br>
Username {{profile_data.user_name}}
<br>
Name {{profile_data.first_name}}{{profile_data.last_name}}
<br>
{{profile_data.bio}}
<br>
{{profile_data.joined}}
<br>
{{profile_data.dob}}
<br>
{{profile_data.city}}
<br>
{{profile_data.website}}
<br>
{% if other_user%}
<button>Follow</button>
{% endif %}

{% if not other_user%}
<form name="save_tweet" method="post" action="/profile">
    <textarea name="tweet"></textarea>
    <input type="hidden" name="form" value="save_tweet">
    <input type="submit" value="Tweet">
</form>
{% endif %}

<ul>
    {%for tweet in tweets%}
    <li>
        {{tweet.text}}{% if not other_user%}<a href="delete-tweet?id={{tweet.key.id().split('/')[1]}}">delete</a> <a href="edit-tweet?id={{tweet.key.id().split('/')[1]}}">update</a>{% endif %}
    </li>
    {%endfor%}
</ul>
