<form name="save_tweet" method="get" action="/search-user">
    <input type="text" name="username">
    <input type="submit" value="Search User">
</form>
<form name="save_tweet" method="get" action="/search-tweet">
    <input type="text" name="text">
    <input type="submit" value="Search tweet">
</form>

Followers: {{profile_data.follows_count}} Following: {{profile_data.following_count}} Tweets : {{profile_data.tweet_count}}
<br>
Username {{profile_data.user_name}}
<br>
Name {{profile_data.first_name}}{{profile_data.last_name}}
<br>
{{profile_data.bio}}
<br>
{{profile_data.joined}}
<br>
{{profile_data.dob}}
<br>
{{profile_data.city}}
<br>
{{profile_data.website}}
<br>


{% if not search_user and not search_tweet%}

{% if other_user%}
<form method="post" action="profile?user={{profile_data.user_name}}">
    <input type="hidden" name="form" value="update_following_status">
<input type="submit" name="btn_text" value="{{follow_text}}">
</form>
{% endif %}

{% if not other_user%}
{% if result %}
{{result.message}}
{% endif %}
<!--<form name="save_tweet" method="post" action="/profile">-->
    <!--<textarea name="tweet"></textarea>-->
    <!--<input type="hidden" name="form" value="save_tweet">-->
    <!--<input type="submit" value="Tweet">-->
<!--</form>-->
 <form action='{{upload_url}}' method="post" name="save_tweet" enctype="multipart/form-data">
        <textarea name="tweet"></textarea>
        <input type="hidden" name="form" value="save_tweet"><br>
        <input type="file" name="myFile"><br>
        <input type="submit" value="Tweet">
 </form>
{% endif %}

<ul>
    {%for tweet in tweets%}
    <li>
        {{tweet.text}}{% if not other_user%}<a href="delete-tweet?id={{tweet.key.id().split('/')[1]}}">delete</a> <a href="edit-tweet?id={{tweet.key.id().split('/')[1]}}">update</a>{% endif %}
    </li>
    {% if tweet.image %}
    <img src="{{images.get_serving_url(tweet.image, size=150, crop=False, secure_url=False)}}"/>
    {% endif %}
    {%endfor%}
</ul>

{% endif %}

{% if search_user and not search_tweet%}
<h1>Search by user</h1>

{% if result.status %}
{{result.data.user_name}}<br>
{{result.data.first_name}} {{result.data.last_name}}<br>
{{result.data.bio}}<br>
<a href="/profile?user={{result.data.user_name}}">view</a>
{% else %}
{{result.message}}
{% endif %}


{% endif %}

{% if search_tweet %}
<h1>Search by tweet</h1>

{% if result.status %}

{%for tweet in result.data%}
{{tweet.text}}
<a href="/profile?user={{tweet.user_name}}">@{{tweet.user_name}}</a><br>
{%endfor%}

{% else %}
{{result.message}}
{% endif %}


{% endif %}